body {
  width: 100%;
}

main {
  margin: 16px auto;
  width: calc(100%-36px);
  max-width: 1200px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 25px;
}

.mem-slider-frame,
.text-slider-frame {
  width: 100%;
  height: auto;
  overflow: hidden;
  flex-grow: 1;
}

.mem-slider-content,
.text-slider-content {
  display: flex;
  flex-direction: row;
  width: 400%;

  transition: all 500ms ease-in-out;
}

.mem-slide, 
.text-slide {
  width: 25%;
  height: auto;
  max-height: 600px;
}

.mem-slide img {
  width: 100%;
  object-fit: contain;
  object-position: center center;
}

.text-slider-frame {
  max-width: 600px;
  flex-grow: 0;
}


.text-slider-frame p {
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 24px;
  padding-bottom: 24px;
}

.mem-slider-bullets {
  margin-left: 32px;
  width: 100%;
  max-width: 400px;
  flex-grow: 0;

  display: flex;
  justify-content: flex-end;
  column-gap: 8px;
}

.mem-slider-bullets label {
  width: 40px;
  height: 40px;
  position: relative;
}

.mem-slider-bullets label:hover {
  cursor: pointer;
}

.mem-slider-bullets label::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  background-color: #123456;
  border-radius: 50%;

  top :50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

#check-slide1:checked ~ .mem-slider-frame .mem-slider-content {
  margin-left: 0;
}

#check-slide2:checked ~ .mem-slider-frame .mem-slider-content {
  margin-left: -100%
}

#check-slide3:checked ~ .mem-slider-frame .mem-slider-content {
  margin-left: -200%
}

#check-slide4:checked ~ .mem-slider-frame .mem-slider-content {
  margin-left: -300%
}

#check-slide1:checked ~ .text-slider-frame .text-slider-content {
  margin-left: 0;
}

#check-slide2:checked ~ .text-slider-frame .text-slider-content {
  margin-left: -100%
}

#check-slide3:checked ~ .text-slider-frame .text-slider-content {
  margin-left: -200%
}

#check-slide4:checked ~ .text-slider-frame .text-slider-content {
  margin-left: -300%
}